// SECTION Font
$fontFamily: 'Barlow Semi Condensed', sans-serif;

// SECTION Color cube
$white: #ffffff;
$codGray: #060607;
$windsor: #6b0c7a;
$monza: #bc0428;
$silver: #bcbcbc;
$dodgerBlue: #4154ff;
$jumbo: #78787a;
$astronautBlue: #014461;
$burntSienna: #ec5a57;
$verdumGreen: #504e00;

// SECTION Median cut
$orientalPink: #bc8b96;
$cinder: #0d0b12;
$cosmic: #683551;
$daisyBush: #4321aa;
$seaNymph: #709e9c;

// SECTION Material design
$shiraz: #a00644;
$mongoose: #b6967e;
$blueGem: #4613a0;
$cocoaBrown: #362428;
$royalBlue: #4257ef;